.facilitiesImageSection {
  position: relative;
  width: 100%;
  height: 600px; /* Adjust this value to control the height */
  overflow: hidden;
  animation: bgScroll 20s linear infinite;
}

@keyframes bgScroll {
  0% {
    background-position: 0% center; /* start at left */
  }
  100% {
    background-position: 100% center; /* end at right */
  }
}

.hero {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background-size: 120% auto;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
  box-sizing: border-box;
  animation: bgScroll 20s linear infinite;
}

@keyframes bgScroll {
  0% {
    background-position: 0% center; /* start at left */
  }
  100% {
    background-position: 100% center; /* end at right */
  }
}
/* < 576px (small mobiles) */
@media (max-width: 575.98px) {
  .hero {
    justify-content: center;
    padding: 0 5%;
    min-height: 50vh;
  }
  .facilitiesImageSection {
    height: 300px;
  }
}
